body {
    background-color: #252b25;
    direction: rtl;
    color: aliceblue;
    line-height: 3.2;
    font-family: Vazirmatn, sans-serif;
    margin: 0;
    text-align: justify;
}



nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

header {
    position: sticky;
    top: 0;
    background-color: #374037;
}

nav .nav-link {

    padding: 10px;
    text-decoration: none;
    color: greenyellow;
    box-shadow: 0 0 10px #53a513;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.nav-link:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

main {
    width: 80%;
    margin: auto;
}

.login {
    color: aliceblue;
    background-color: lawngreen;
    text-decoration: none;
    border-radius: 14%;
    width: 7%;
    height: 10%;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    main {
        width: 100%;
    }
}




